/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}

/* content*/


.head ,.foot {
   
    background-color: brown;
    
}
.img{
    height:90px;
    width: 90px;
    padding: 0 20px;
   
}
.navigation{
    
  float: right;
  padding: 30px 30px;
   word-spacing: 20px;
    
    
}
a{
    text-decoration: none;
    color: black;
    
  
}
/*.clearfix::before,.clearfix::after{
    content:"";
    display: table;
}
.clearfix::after{
    clear:both;
}*/

.col-1{
    display: inline-block;
    text-align: center;
}
  .col-2{
      float: right;
  } 
 .article{
     font-size:20px;
     line-height: 1.5;
 }
 h2{
     font-size: 25px;
    /* padding: 10px 20px;*/
     
 }
 p{
     padding: 20px;
 }
 .img1{
     width: 500px;
     height: 400px;
     padding: 20px 20px;
 }
 .clearfix::before,.clearfix::after{
    content:"";
    display: table;
}
.clearfix::after{
    clear:both;
}

 .gallery{
     float: left;
 }
 .galleryimg{
     height: 250px;
     width: 445px;
     
 }
 .img2{
    padding-left: 10px;
 }
 .footer{
     height: 60px;
     width: 100%;
    text-align: center;
    padding-top: 30px;
   
 }
 .btn{

    float: right;
    padding-right: 20px;
    position: fixed;
    right: 30px;
    bottom: 30px;
 }

